[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-decouple = "*"
channels = "*"
daphne = "*"
channels-redis = "*"
celery = "*"
redis = "*"
django-debug-toolbar = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.12"
