.main-menu {
    position: relative;
    display: flex;
    padding: 0 8px 0 10%;
    margin: -8px -8px 0 -8px;
    background-color: #fecbff;
}

.main-menu-button {
    display: block;
    width: auto;
    padding: 0 10px;
    height: 50px;
    word-break: break-word;
    text-decoration: none;
    align-content: center;
    text-align: center;
    font-size: 30px;
    color: #6d0094;
}

.main-menu-button.login-button {
    position: absolute;
    right: 3%;
}

.main-menu-button:hover {
    background-color: #f8afff;
    transition: 0.5s;
}

.main-menu-button:active {
    color: #9900d2;
}

.hidden {
    display: none !important;
}