.form-div {
    display: flex;
    height: 90vh;
}

.form-element {
    width: 20%;
    min-width: 350px;
    border: 2px solid #6d0094;
    border-radius: 15px;
    padding: 20px;
    position: relative;
    margin: auto;
}

.form-element.wide {
    width: 50%;
}

.form-field-label {
    font-size: 20px;
}

.form-field-label.big {
    font-size: 35px;
}

.field-required-msg {
    position: absolute;
    right: 10px;
    top: 5px
}

.field-required-label {
    color: #ad0000;
    font-size: inherit;
}

.field-required-label.abs {
    font-size: 20px;
    position: absolute;
}

.form-control {
    border: 2px solid rgba(109, 0, 148, 0.5);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 5px;
    font-size: 20px;
}

.form-control:focus {
    box-shadow: 0 0 5px 1px rgb(134, 0, 187, 0.5);
    outline-width: 0;
    transition: 0.15s;
}

.form-control.invalid {
    box-shadow: none;
    border: 2px solid #ad0000;
}

.form-control.wide {
    width: 100%;
}

.form-control.smt {
    padding: 2px 5px;
    font-size: 14px;
}

.field-error-msg {
    color: #ad0000;
    font-size: 18px;
    margin-top: 5px;
}

.form-footer-buttons {
    display: flex;
    margin-top: 20px;
    gap: 10px;
    align-items: center
}

.form-footer-buttons.right {
    justify-content: right;
}

.form-footer-buttons.center {
    justify-content: center;
}

.form-footer-buttons.edges {
    justify-content: space-between;
}

.button {
    width: fit-content;
    height: fit-content;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 20px 5px 20px;
    color: white;
}

.button:hover {
    cursor: pointer;
}

.button.violet {
    background-color: rgba(109, 0, 148, 0.7);
}

.button.red {
    background-color: #ad0000;
}

input[type="checkbox"] {
    appearance: none;
    background-color: inherit;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 0.85em;
    height: 0.85em;
    border: 1px solid #6d0094;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.75em;
    height: 0.75em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #6d0094;
}

input[type="checkbox"]:checked::before {
    transform: scale(0.5);
}
