{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block headlinks %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{% static 'css/form.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'assignment/css/assignment_list.css' %}">
{% endblock headlinks %}

{% block content %}
    <div>
        <div style="display: flex; height: 100%">
            <form class="filter-section">
                <strong>Filters</strong>
                {% for filter in filter_form %}
                    <p class="filter-element">
                        <strong>{{ filter.label }}:</strong> 
                        {% if filter.html_name != 'status' and filter.html_name != 'priority' %}
                            {{ filter|css_class:'form-control wide smt' }}
                        {% else %}
                            <span style="display: flex; flex-direction: column; gap: 5px;">
                                {% for choice in filter.field.choices %}
                                    <span style="display: flex; gap: 5px;">
                                        <input type="checkbox" 
                                               name="{{ filter.html_name }}" 
                                               id="{{ filter.id_for_label }}_{{ forloop.counter0 }}" 
                                               value="{{ choice.0 }}"
                                               {% if choice.0 in filter.value %}checked{% endif %}>
                                        <label for="{{ filter.id_for_label }}_{{ forloop.counter0 }}">{{ choice.1 }}</label>
                                    </span>
                                {% endfor %}    
                            </span>
                        {% endif %}
                    </p>
                {% endfor %}
                <p class="form-footer-buttons right">
                    <button type="reset" class="button light" style="font-size: 12px">Clear</button>
                    <button type="submit" class="button violet" style="font-size: 12px">Apply</button>
                </p>
            </form>
            <div style="padding: 0 20px 0 20px; width: 80%">
                <div style="display: inline-flex; width: 100%; justify-content: space-between">
                    <div style="display: inline-flex">
                        <h1>Assignments</h1>
                        {% if request.user.is_authenticated %}
                        <a class="create-assignment-button" href="{% url 'create_assignment' %}" role="button">+ Create assignment</a>
                        {% endif %}
                    </div>
                    <div style="display: inline-flex; font-size: 20px; align-self: center; align-items: center; gap: 20px">
                        <div>
                            Assignments per page:
                            <div class="dropdown-element pagination">
                                <button class="dropdown-button pagination">{{ paginate_by }}</button>
                                <div class="dropdown-list-options pagination">
                                    {% for option in pagination_options %}
                                        <span value="{{ option }}">{{ pagination_options|get_:option }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div style="display: flex; align-items: center; gap: 10px">
                            <div>
                            Sort by:
                                <div class="dropdown-element ordering">
                                    <button class="dropdown-button ordering">{{ order_by }}</button>
                                    <div class="dropdown-list-options ordering">
                                        {% for option in ordering_options %}
                                            <span value="{{ option }}">{{ ordering_options|get_:option }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="ordering-button b" reverse="{{ reverse }}">
                                {% if reverse %}
                                    ↑
                                {% else %}
                                    ↓
                                {% endif %}
                            </button>
                        </div>
                    </div>
                </div>
                {% for assignment in assignments %}
                    <a class="assignment" href="{% url 'assignment_info' assignment.uuid %}">
                        <strong style="font-size: 25px">{{ assignment.subject }}</strong>
                        <span style="position: absolute; top: 5px; right: 5px"><span style="color: {{ status_color_labels|get_:assignment.status }}">⦿</span> {{ assignment.status }}
                            (Priority: <strong><span style="color: {{ priority_color_labels|get_:assignment.priority }}">{{ assignment.get_priority_display }}</span></strong>)</span>
                        {% if assignment.deadline %}
                            <p style="font-size: 18px; margin: 10px 0 10px 0"><strong>Due to: </strong><span class="due-to" value="{{ assignment.deadline|date:'U' }}">{{ assignment.deadline|date:'j F o,  G:i' }}</span></p>
                            <p style="font-size: 18px; margin: 10px 0 -15px 0"><strong>Time remaining: </strong><span class="time-left"></span></p>
                        {% endif %}
                    </a>
                {% empty %}
                    <p style="font-size: 20px">{% if not assignments %} There are no assignments yet. You can create the first one{% endif %}</p>
                {% endfor %}
            </div>
        </div>
    </div>
        {% if paginator.num_pages > 1 %}
            <div class="paginator">
                {% if page_obj.has_previous %}
                    <a class="page-pointer" href="?{% replace_url_param request 'page' page_obj.previous_page_number %}">←</a>
                {% endif %}
                {% for page_number in pages %}
                    {% if page_number != paginator.ELLIPSIS %}
                         {% if page_number == page_obj.number %}
                             <span class="page current">{{ page_number }}</span>
                         {% else %}
                             <a class="page" href="?{% replace_url_param request 'page' page_number %}">{{ page_number }}</a>
                         {% endif %}
                    {% else %}
                        <strong>{{ paginator.ELLIPSIS }}</strong>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <a class="page-pointer" href="?{% replace_url_param request 'page' page_obj.next_page_number %}">→</a>
                {% endif %}
            </div>
        {% endif %}

    <script type="text/javascript" src="{% static 'assignment/js/timer.js' %}"></script>
    <script type="text/javascript" src="{% static 'assignment/js/assignment_list.js' %}"></script>
{% endblock content %}