{% extends 'base.html' %}
{% load static %}
{% load template_filters %}

{% block headlinks %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{% static 'css/base.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/form.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'assignment/css/file_class.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'assignment/css/show_hide_attachments.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'assignment/css/assignment_info.css' %}">
{% endblock headlinks %}

{% block html %}
    {% if request.user.username == assignment.created_by.username %}
        <div class="delete-assignment-background hidden">
            <div class="delete-assignment-window">
                <span style="font-size: 20px">Confirm assignment deletion</span>
                <p style="font-size: 16px">
                    This action will permanently delete the assignment, as well as all files and comments bound with it.
                    You cannot restore this information in future. <br>
                    Are you sure you want to delete the assignment?</p>
                <div style="display: flex; justify-content: right; gap: 5px">
                    <form action="{% url 'delete_assignment' assignment.uuid %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="button delete" style="font-family: Arial">Delete assignment</button>
                    </form>
                    <button class="button cancel" id="cancel-assignment-deletion">Cancel</button>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock html %}

{% block content %}
    <div class="subject">
        {{ assignment.subject }}
        {% if request.user.username == assignment.created_by.username %}
            <a href="{% url 'update_assignment' assignment.uuid %}" class="assignment-action-button">
                <img class="assignment-action-img" src="{% static 'assignment/img/edit_assignment.png' %}" alt="Edit assignment">
            </a>
            <button class="assignment-action-button" style="padding: 0" id="delete-assignment">
                <img class="assignment-action-img" src="{% static 'assignment/img/delete_assignment.png' %}" alt="Delete assignment">
            </button>
        {% endif %}
    </div>
    <div style="display: flex; height: 80%">
        <div style="width: 22%">
            <div class="extra-info">
                <p class="p-extra"><span style="color: {{ status_color_labels|get_:assignment.status }}">⦿</span> {{ assignment.status }}</p><br><br>
                <p class="p-extra"><strong>Priority: <span style="color: {{ priority_color_labels|get_:assignment.priority }}">{{ assignment.get_priority_display }}</span></strong> </p>
                <p class="p-extra"><strong>Due to:</strong> <span class="due-to" value="{{ assignment.deadline|date:'U' }}">{{ assignment.deadline|date:'j F o, G:i' }}</span></p>
                <p class="p-extra"><strong>Time remaining:</strong> <span class="time-left"></span></p>
                <p class="p-extra"><strong>Created:</strong> {{ assignment.created_at|date:'j F o, G:i' }}
                    {% if assignment.created_by %}
                        <strong>by</strong> <a class="user-link" href="#">{{ assignment.created_by.username }}</a>
                    {% endif %}</p>
                <br>
                <button type="button" class="action-button accept">Accept task</button>
                <button type="button" class="action-button reject">Reject task</button>
            </div>
            {% if assignment.file_set.all %}
                <div class="extra-info">
                    <p><button type="button" class="show-attachments-button" style="width: 100%">Attachments ↓</button></p>
                    <div class="attachments-section hidden">
                        <div style="display: flex; flex-wrap: wrap; gap: 5px; margin-top: 10px">
                            {% for file in assignment.file_set.all %}
                                <a class="file" href="{% url 'download_file' assignment.uuid file.uuid %}">{{ file.file|get_filename }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="general-info">
            {% if not assignment.description %} <h3>This task has no description</h3> {% endif %}
            {{ assignment.description }}
        </div>
        <div style="width: 15%; margin-left: auto">
            <div class="comments-section">
                {% for comment in assignment.comment_set.all %}
                    <div class="comment-element">
                        <div class="comment-author"><a class="user-link" href="#">{{ comment.created_by.username }}</a></div>
                        <div class="comment-content">
                            {{ comment.content }}
                            <span class="comment-date">{{ comment.created_at|date:'j M Y G:i' }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div style="position: relative">
                {{ comment_form.content }}
                {% if request.user.is_authenticated %}
                    <button class="send-comment">
                        <img src="{% static 'assignment/img/send_comment.png' %}" style="width: 15px; height: 15px;">
                    </button>
                {% endif %}
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'assignment/js/timer.js' %}"></script>
    <script type="text/javascript" src="{% static 'assignment/js/comments.js' %}"></script>
    {% if assignment.file_set.all %}
        <script type="text/javascript" src="{% static 'assignment/js/show_hide_attachments.js' %}"></script>
    {% endif %}
    {% if request.user.username == assignment.created_by.username %}
        <script type="text/javascript" src="{% static 'assignment/js/delete_assignment.js' %}"></script>
    {% endif %}
{% endblock content %}