{% extends 'base.html' %}
{% load static %}
{% load template_filters %}

{% block headlinks %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{% static 'assignment/css/assignment_info.css' %}">
{% endblock headlinks %}

{% block content %}
    <div class="subject">{{ assignment.subject }}</div>
    <div style="display: flex">
        <div>
            <div class="extra-info">
                <p class="p-extra"><span style="color: {{ status_color_labels|get_:assignment.status }}">⦿</span> {{ assignment.status }}</p><br><br>
                <p class="p-extra"><strong>Priority: <span style="color: {{ priority_color_labels|get_:assignment.priority }}">{{ assignment.get_priority_display }}</span></strong> </p>
                <p class="p-extra"><strong>Due to:</strong> <span class="due-to" value="{{ assignment.deadline|date:'U' }}">{{ assignment.deadline|date:'j F o, G:i' }}</span></p>
                <p class="p-extra"><strong>Time remaining:</strong> <span class="time-left"></span></p>
                <p class="p-extra"><strong>Created:</strong> {{ assignment.created_at|date:'j F o, G:i' }} {% if assignment.created_by %}<strong>by</strong> <a href="#" style="text-decoration: none; color: #6d0094">{{ assignment.created_by.username }}</a>{% endif %}</p>
                <br>
                <button type="button" class="action-button accept">Accept task</button>
                <button type="button" class="action-button reject">Reject task</button>
            </div>
            <div class="extra-info" style="display: flex; flex-wrap: wrap; gap: 5px">
                {% for file in assignment.file_set.all %}
                    <a class="file" href="{% url 'download_file' assignment.uuid file.uuid %}">{{ file.file|get_filename }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="general-info">
            {% if not assignment.description %} <h3>This task has no description</h3> {% endif %}
            {{ assignment.description }}
        </div>
    </div>

    <script type="text/javascript" src="{% static 'assignment/js/timer.js' %}"></script>
{% endblock content %}