{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block headlinks %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{% static 'css/form.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'assignment/css/file_class.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'assignment/css/show_hide_attachments.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'assignment/css/create_assignment.css' %}">
    {% if request.resolver_match.url_name == 'update_assignment' %}
        <link type="text/css" rel="stylesheet" href="{% static 'assignment/css/update_assignment.css' %}">
    {% endif %}
{% endblock headlinks %}

{% block content %}
    <div class="form-div restrict-up">
        <form method="post" enctype="multipart/form-data" class="form-element wide restrict-up" id="task-form">
        <span class="field-required-msg">Required fields are marked <span class="field-required-label">*</span></span>
        {% csrf_token %}
        <div style="display: flex; flex-direction: column; gap: 25px">
            <div>
                <span class="form-field-label big">{{ assignment_form.subject.label }} <span class="field-required-label abs">{{ assignment_form.subject.help_text }}</span></span>
                <p style="margin-top: 0">{{ assignment_form.subject|css_class:'subject form-control wide' }}</p>
                {% if assignment_form.subject.errors %}
                    <p class="field-error-msg">{{ assignment_form.subject.errors.0 }}</p>
                {% endif %}
            </div>
            <div>
                <span class="form-field-label big">{{ assignment_form.description.label }} <span class="field-required-label abs">{{ assignment_form.description.help_text }}</span></span>
                <p style="margin-top: 0">{{ assignment_form.description|css_class:'description form-control wide' }}</p>
                {% if assignment_form.description.errors %}
                    <p class="field-error-msg">{{ assignment_form.description.errors.0 }}</p>
                {% endif %}
            </div>
            <div>
                <span class="form-field-label big">{{ assignment_form.deadline.label }} <span class="field-required-label abs">{{ assignment_form.deadline.help_text }}</span></span>
                <p style="margin-top: 0">{{ assignment_form.deadline|css_class:'deadline form-control' }}</p>
                {% if assignment_form.deadline.errors %}
                    <p class="field-error-msg">{{ assignment_form.deadline.errors.0 }}</p>
                {% endif %}
            </div>
            <div>
                <span class="form-field-label big">{{ assignment_form.workers_limit.label }} <span class="field-required-label abs">{{ assignment_form.workers_limit.help_text }}</span></span>
                <p style="margin-top: 0">{{ assignment_form.workers_limit|css_class:'workers-limit form-control' }}</p>
                {% if assignment_form.workers_limit.errors %}
                    <p class="field-error-msg">{{ assignment_form.workers_limit.errors.0 }}</p>
                {% endif %}
            </div>
            <div>
                <span class="form-field-label big">{{ assignment_form.priority.label }} <span class="field-required-label abs">{{ assignment_form.priority.help_text }}</span></span>
                <p style="margin-top: 0">{{ assignment_form.priority|css_class:'priority form-control' }}</p>
                {% if assignment_form.priority.errors %}
                    <p class="field-error-msg">{{ assignment_form.priority.errors.0 }}</p>
                {% endif %}
            </div>
        </div>

        <span class="form-field-label">{{ file_form.file.label }}</span>
        <div>
            {{ file_form.file }}
            {% if file_form.file.errors %}
                <p class="field-error-msg">{{ file_form.file.errors.0 }}</p>
            {% endif %}
            {% if request.resolver_match.url_name == 'update_assignment' and attachments %}
                <p><button type="button" class="show-attachments-button">Attachments ↓</button></p>
            {% endif %}
        </div>
        {% if request.resolver_match.url_name == 'update_assignment' and attachments %}
            <div class="attachments-section hidden">
                <p style="font-size: 20px;">Select files you want to remove from this task</p>
                <p>Select all<input type="checkbox" id="select-all"></p>
                <div class="attachments">
                    {% for file in attachments %}
                        <div style="position: relative; display: flex">
                            <label style="display: flex">
                                <a class="file" href="{% url 'download_file' assignment_form.instance.uuid file.uuid %}">{{ file.file|get_filename }}</a>
                                <input type="checkbox" class="delete-file" value="{{ file.uuid }}">
                            </label>
                        </div>
                    {% endfor %}
                </div>
                <input type="hidden" name="files-to-delete" id="files-to-delete" value="">
            </div>
        {% endif %}
                <div class="form-footer-buttons center">
                <button type="submit" class="button violet">
                    {% if request.resolver_match.url_name == 'update_assignment' %}
                        Save changes
                    {% else %}
                        Create assignment
                    {% endif %}
                </button>
                <a href="{{ request.META.HTTP_REFERER }}" class="button red" style="font-family: Arial; text-decoration: none">Cancel</a>
            </div>
        </form>
    </div>

    <script type="text/javascript" src="{% static 'js/form.js' %}"></script>
    <script type="text/javascript" src="{% static 'assignment/js/update_assignment.js' %}"></script>
    {% if attachments %}
        <script type="text/javascript" src="{% static 'assignment/js/show_hide_attachments.js' %}"></script>
    {% endif %}
{% endblock content %}