.form-div {
    height: 75vh;
    margin-top: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    width: 20%;
    min-width: 350px;
    max-width: 500px;
    align-self: center;
}

.login_buttons {
    display: flex;
    justify-content: space-between;
    align-items: center
}
