.required-field-msg {
    position: absolute;
    top: 5px;
    right: 5px;
}


.form-div {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form {
    width: 400px;
}