
{% extends 'base.html' %}
{% load static %}

{% block headlinks %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{% static 'css/form.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'user/css/login.css' %}">
{% endblock %}

{% block content %}

    <div class="form-div">
        <form method="post" class="form-element login-form">
        {% csrf_token %}
        <div style="margin-bottom: 25px">
            <span class="form-field-label">Username or email</span>
            <p>{{ form.username }}</p>
            {% if form.username.errors %}
                <p class="field-error-msg">{{ form.username.errors.0 }}</p>
            {% endif %}
        </div>
        <div>
            <span class="form-field-label">{{ form.password.label }}</span>
            <p>{{ form.password }}</p>
            {% if form.password.errors %}
                <p class="field-error-msg">{{ form.password.errors.0 }}</p>
            {% endif %}
        </div>
        {% if form.errors %}
            <p class="field-error-msg">{{ form.non_field_errors.0 }}</p>
        {% endif %}
        <div class="login_buttons">
            <button type="submit" class="submit-button">Login</button>
            <a style="text-decoration: none" href="#">Forgot password?</a>
        </div>
        </form>
    </div>

    <script type="text/javascript" src="{% static 'js/form.js' %}"></script>
{% endblock content %}
