{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block headlinks %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}

    <div class="form-div sm">
        <form method="post" class="form-element login-form">
        {% csrf_token %}
        <div style="margin-bottom: 25px">
            <p class="form-field-label" style="text-align: center">Enter your email to receive instructions for resetting your password</p>
            <span>{{ form.email|css_class:'form-control wide' }}</span>
            {% if form.email.errors %}
                <p class="field-error-msg">{{ form.email.errors.0 }}</p>
            {% endif %}
        </div>
        {% if form.errors %}
            <p class="field-error-msg">{{ form.non_field_errors.0 }}</p>
        {% endif %}
        <div class="form-footer-buttons center">
            <button type="submit" class="button violet">Send email</button>
        </div>
        </form>
    </div>

    <script type="text/javascript" src="{% static 'js/form.js' %}"></script>
{% endblock content %}
