{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block headlinks %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{% static 'css/form.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'user/css/login.css' %}">
{% endblock %}

{% block content %}

    <div class="form-div sm">
        <form method="post" class="form-element">
        {% csrf_token %}
        <div style="margin-bottom: 25px">
            <span class="form-field-label">New password: </span>
            <p style="margin-top: 8px">{{ form.new_password1|css_class:'form-control wide' }}</p>
            {% if form.new_password1.errors %}
                <p class="field-error-msg">{{ form.new_password1.errors.0 }}</p>
            {% endif %}
        </div>
        <div>
            <span class="form-field-label">Confirm password: </span>
            <p style="margin-top: 8px">{{ form.new_password2|css_class:'form-control wide' }}</p>
            {% if form.new_password2.errors %}
                <p class="field-error-msg">{{ form.new_password2.errors.0 }}</p>
            {% endif %}
        </div>
        {% if form.errors %}
            <p class="field-error-msg">{{ form.non_field_errors.0 }}</p>
        {% endif %}
        <div class="form-footer-buttons center">
            <button type="submit" class="button violet">Change password</button>
        </div>
        </form>
    </div>

    <script type="text/javascript" src="{% static 'js/form.js' %}"></script>
{% endblock content %}
