html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

.extra-info {
    border-right: 2px solid #f8afff;
    border-bottom: 2px solid #f8afff;
    padding: 10px;
    height: fit-content;
}

.p-extra {
    margin: 8px 0 0 0;
    word-break: break-word;
}

.general-info {
    width: auto;
    max-width: 60%;
    word-break: break-word;
    padding: 20px;
    font-size: 17px;
}

.action-button {
    background-color: inherit;
    width: 100px;
    border: 2px solid;
    padding: 5px 0 5px 0;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.action-button.accept {
    color: #229954;
    border-color: #229954;
}

.action-button.reject {
    color: #a93226;
    border-color: #a93226;
}

.action-button.accept:hover {
    color: white;
    background-color: #229954;
}

.action-button.reject:hover {
    color: white;
    background-color: #a93226;
}

.subject {
    font-size: 30px;
    font-weight: bold;
    border-bottom: 2px solid #f8afff;
    padding: 20px;
    display: flex;
    justify-content: center;
    /*text-align: center;*/
    align-items: center;
    word-break: break-word;
    gap: 10px;
}

.assignment-action-img {
    height: 20px;
    width: 20px;
}

.assignment-action-button {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.assignment-action-button:hover {
    cursor: pointer;
}

.delete-assignment-background {
    z-index: 100;
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.delete-assignment-window {
    width: 450px;
    height: 140px;
    border: 2px solid #6d0094;
    border-radius: 15px;
    background-color: #fbf3ff;
    padding: 20px;
}

.button {
    width: fit-content;
    height: fit-content;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    padding: 3px 15px 3px 15px;
}

.button.delete {
    background-color: #ad0000;
    color: white;
}

.button.delete:hover {
    background-color: #8e0000;
    transition: 0.3s;
}

.button.cancel {
    background-color: #d3bedf;
    color: black;
}

.button.cancel:hover {
    background-color: #bea3ce;
    transition: 0.3s;
}

.comments-section {
    border-left: 2px solid #f8afff;
    border-bottom: 2px solid #f8afff;
    padding: 20px;
    height: 85%;
}

.comment-area {
    height: 50px;
    resize: none;
    font-size: 12px;
    margin-top: 8px;
    width: 98%;
    scrollbar-width: none;
}

.send-comment {
    width: 15px;
    height: 15px;
    padding: 0;
    border: none;
    background-color: inherit;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.send-comment:hover {
    cursor: pointer;
}