::-webkit-scrollbar {
    width: 0;
}

.field-required-label {
    color: #ad0000;
    font-size: 20px;
    position: absolute;
    right: -15px;
}

.required-field-msg {
    position: absolute;
    right: 10px;
    top: 5px
}

.form-field {
    border: 2px solid rgba(109, 0, 148, 0.5);
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 10px;
}

.form-field-label {
    font-size: 35px;
    position: relative;
}

.form-field:focus {
    box-shadow: 0 0 5px 1px rgb(134, 0, 187, 0.5);
    outline-width: 0;
    transition: 0.15s;
}

.form-field.invalid {
    box-shadow: none;
    border: 2px solid #ad0000;
}

.field-error-msg {
    color: #ad0000;
    font-size: 18px;
    margin-top: 5px;
}

.form-div {
    margin-top: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-form {
    border: 2px solid #6d0094;
    border-radius: 15px;
    width: 50%;
    padding: 20px;
    position: relative;
}

#id_subject {
    width: 100%;
    height: auto;
    padding: 5px;
    font-size: 20px;
    box-sizing: border-box;
}

#id_description {
    width: 100%;
    height: 300px;
    min-height: 50px;
    max-height: 500px;
    resize: vertical;
    padding: 5px;
    font-size: 20px;
}

#id_deadline {
    font-size: 15px;
    height: 25px;
}

#id_file::-webkit-file-upload-button {
    background-color: rgba(242, 214, 255, 0.5);
    font-size: 15px;
    border: 2px solid rgba(109, 0, 148, 0.5);
    height: 25px;
    border-radius: 5px;
    width: 100px;
}

#id_workers_limit {
    font-size: 15px;
    height: 25px;
    width: 100px;
}

#id_priority {
    font-size: 15px;
    height: 25px;
    width: 100px;
}

#submit-form {
    width: fit-content;
    height: fit-content;
    background-color: rgba(109, 0, 148, 0.7);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 20px 5px 20px;
    color: white;
}
